# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
.venv/
env/
ENV/

# Archivos de distribución / build
build/
dist/
*.egg-info/
.eggs/

# Archivos de testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Logs
*.log